@import "../globals.scss";

footer {
    padding: 1rem;
    background-color: $black;
    height: 20rem;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;


    .FooterInner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        .Title {
            padding: 1rem;
            font-size: 7.5rem;
        }

        .FooterContainer {
            gap: 10rem;
            display: flex;
        }
    }
}