@import "../globals.scss";


.navbar {
  color: white !important;
  // height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: fixed;
  z-index: 777;
  width: 100%;
  padding: 0.5rem;
  background: $black;

  .topNav {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    h1 {
      font-size: 4rem;

      a {
        color: white;
      }
    }
  }

  .bottomNav {
    border-top: 2px solid $gold;
    text-decoration: none !important;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 90%;
    padding: 1rem;
    height: 5rem;
    font-size: 1.4rem;

    &.open {
      display: block;
      border-top: 2px solid $gold;
      text-decoration: none !important;
      color: white !important;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 90%;
      padding: 1rem;
      height: 5rem;
      font-size: 1.4rem;
      gap: 3rem;
    }

    a {
      color: white;
    }

    .menu-item {
      padding: 1rem 3rem;
      position: relative;
      cursor: pointer;

      &:hover {
        .subMenu {
          display: block;
        }
      }

      &.active {
        // Styles pour l'onglet actif
        // ...
      }
    }

    .subMenu {
      color: black;
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #fff;
      padding: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      p {
        margin: 0;
      }
    }
  }
}


.bottomNav a:hover {
  color: $gold;
}

//! je taf dessus stv voir c quoi enleve les // xd
// .bottomNav a:hover:after {
//   left: 0;
//   width: 100%;
//   background: $gold;
// }

// .bottomNav a:after {
//   position: absolute;
//   bottom: 1rem;
//   left: 50%;
//   width: 0;
//   height: 3px;
//   content: "";
//   transition: .25s;
//   background: rgba(245, 245, 245, 0);
// }


.nav-icon {
  display: none;
}

.scrolled {
  width: 100%;

  .topNav {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    h1 {
      font-size: 1.5rem;
    }

    .nav-icon {
      display: block;
    }
  }

  .bottomNav {
    display: none;
  }
}


.open .bottomNav {
  display: block;
}


.subMenu {
  position: relative;
  height: 20vh;
  width: 100%;
  background-color: $black;
}

.subMenu.visible {
  display: block;
}

.subMenu {
  height: fit-content;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .SubMenuGlobal {
    display: flex;
    gap: 35rem;
    align-items: center;

    .SubMenuInner {
      color: white;
      gap: 1rem;
      display: flex;
      flex-direction: column;

      a {
        color: white;
        font-weight: to-upper-case($string: "");
        font-size: 1.5rem;
      }
    }
  }
}


