@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');


* {
    font-family: "Lustria", serif;
    transition: all 0.25s linear;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
}

#MainContent {
    padding-top: 0;
    position: relative;
    min-height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    background-color: transparent;
}

$black: #0D0D0D;
$argent: #5C5B63;
$gold: #b5a663;

::-webkit-scrollbar {
    display: none;
}

// .SvgIcon{
//     height: 2rem;
//     width: 2rem;
// }


@media screen and (max-width: 767px) {
    .navbar {
        // background-color: red;

        .bottomNav {
            display: none;

            .menu-item {
                padding: 1rem 0.2rem;
            }
        }

        .bottomNav.open {
            gap: 2rem;
            display: flex;
            height: -moz-fit-content;
            height: fit-content;
            /* display: block; */
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .subMenu {
        width: 90%;
        border-top: 2px $gold solid;

        .SubMenuGlobal {
            gap: 10vh;
            margin: 0 auto;
            display: flex;
            align-items: center;
        }
    }

    .section5 {
        .bagues {
            display: flex;
            flex-direction: column;
        }
    }

    #Footer {
        .FooterInfo {
            flex-direction: column;
            align-items: center;
        }
    }
}