@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');


* {
    font-family: Italiana;
    transition: all 0.25s linear;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
  }
#MainContent {
    padding-top: 0;
    position: relative;
    min-height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    background-color: transparent;
}

$black: #0D0D0D;
$argent: #5C5B63;
$gold: #b5a663;

::-webkit-scrollbar {
    display: none;
}

// .SvgIcon{
//     height: 2rem;
//     width: 2rem;
// }